@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Quicksand', sans-serif;
}

footer {
	text-align: center;
	background-color: #111;
	color: #ddd;
	padding: .8rem;
	font-size: .8rem;
}

.imageContainer {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.image {
	background-size: cover;
	height: 100%;
	background-position: center;
	position: absolute;
	width: 100%;
}

.image p {
	color: #fff;
	font-size: 1.3rem;
	letter-spacing: .08rem;
	font-weight: bold;
	padding: 1rem 2rem;	
	background-color: rgba(0,0,0,.4);
	max-width: 26rem;
	position: absolute;
	top: 3rem;
	left: 4rem;
	transition: all 400ms ease-out;
	border-radius: 1rem;
}

.imageControl {
	position: absolute;
	bottom: 3rem;
	right: 4rem;
	background-color: rgba(0,0,0,.4);
	border-radius: 2rem;
	display: flex;
}

.imageControl i {
	color: #fff;
	font-size: 2rem;
	padding: .5rem 1rem;
}

.imageControl i:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.swipe {
	background-color: #111;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 5;
	height: 100%;
	width: 110%;
 	transition: all 400ms ease-out;
}

.opacity {
	opacity: 0;
}

#swipeCover {
   transform: translateX(-100%);
}

